.project {
	color: #fff;
	padding-top: 60px;
	padding-bottom: 45px;
	background: #000 url("../img/project__bg.png") 50% 0 no-repeat;

	.project-nav {
		display: block;

		&.hover {

			.project-item {

				img {
					-webkit-filter: grayscale(100%);
					-webkit-filter: grayscale(1);
					filter: grayscale(100%);
					filter: url('img/gray.svg#grayscale');
					filter: gray;
				}
			}
		}
	}

	.project-content {
		display: none;
	}

	&.open {

		.project-nav {
			display: none;
		}

		.project-content {
			display: block;
		}
	}

	.project-item {
		display: block;
		max-width: 593px;
		position: relative;
		margin: 0 auto 30px auto;

		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 60px;
			height: 60px;
			display: none;
			margin-top: -30px;
			margin-left: -30px;
			position: absolute;
			background: url("../img/icon-play.png") 0 0 no-repeat;
			background-size: cover;
		}

		.project-item-text {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: #fff;
			padding: 10px;
			display: none;
			overflow: hidden;
			position: absolute;
			background: rgba(158,80,142, 0.8);

			h4 {
				color: #fff;
				font-size: 24px;
				line-height: 26px;
				margin-bottom: 5px;
			}

			p {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 0;
				max-width: 320px;
			}
		}


		&:hover {

			img {
				-webkit-filter: grayscale(0%);
				-webkit-filter: grayscale(0);
				filter: grayscale(0%);

				filter: none;
			}

			.project-item-text {
				display: block;
			}
		}

	}

	.project-content {
		color: #fff;
		margin: 0 auto;
		max-width: 930px;

		&.open {
			display: block;
		}

		.project-video {
			margin-bottom: 40px;
		}

		.project-title {
			font-size: 36px;
			line-height: 1.1;
			font-weight: 700;
			margin-bottom: 45px;
		}

		p {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 20px;
		}
	}

	.project-content-item {
		display: none;
		padding-bottom: 45px;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		h2 {
			margin-bottom: 70px;
		}

		.project-item {

			&:before {
				width: 104px;
				height: 104px;
				margin-top: -52px;
				margin-left: -52px;
			}

			.project-item-text {

				h4 {
					font-size: 50px;
					line-height: 52px;;
				}

				p {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}

		.project-content {

			.project-title {
				font-size: 53px;
			}

			p {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}
}

.partners {
	padding-top: 65px;
	padding-bottom: 40px;
	background: #fff url("../img/partners__bg.png") 50% 0 no-repeat;

	.partners-logo {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		margin: 0 -10px 90px -10px;

		li {
			padding: 5px 10px;
			display: inline-block;

			img {
				@include img-responsive(inline-block);
			}
		}
	}
}

.about {
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	padding-top: 70px;
	padding-bottom: 70px;
	background: url("../img/about__bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	.left-col {
		margin-bottom: 30px;
	}

	.right-col {

	}

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		line-height: 22px;

		.left-col {
			float: left;
			width: 250px;
		}

		.right-col {
			margin-left: 250px;
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 20px;
		line-height: 24px;

		.left-col {
			width: 300px;
		}

		.right-col {
			margin-left: 300px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 380px;
		font-size: 24px;
		line-height: 30px;
		background-size: auto auto;

		.left-col {
			width: 338px;
			padding-left: 50px;
		}

		.right-col {
			margin-left: 338px;
		}
	}
}
