.footer {
	padding-top: 35px;
	text-align: center;
	position: relative;
	background: #202221;
	padding-bottom: 35px;
	background-size: cover;

	&:before {
		top: 0;
		left: 50%;
		content: '';
		width: 67px;
		height: 33px;
		display: none;
		margin-left: -34px;
		position: absolute;
		background: url("../img/footer__arrow.png") 0 0 no-repeat;
	}

	.social {
		padding: 0;
		width: 222px;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 auto 30px auto;

		li {
			float: left;
			width: 33.33%;
			padding: 0 12px;

			a {
				width: 100%;
				display: inline-block;
			}
		}
	}

	.tel {
		color: #fff;
		font-size: 20px;
		line-height: 1.1;
		margin-bottom: 30px;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}

	.copy {
		color: #fff;
		font-size: 16px;
		line-height: 24px;
	}


	@media (min-width: $screen-sm-min) {

		&:before {
			display: block;
		}

		.social {
			float: left;
		}

		.tel {
			float: right;
			font-size: 24px;
			padding-top: 10px;
		}

		.copy {
			float: left;
			width: 100%;
			font-size: 20px;
			padding-top: 10px;
		}
	}

	@media (min-width: $screen-md-min) {
		background: url("../img/footer__bg.jpg") 50% 0 no-repeat;

		.social {
			margin-bottom: 0;
			margin-right: 25px;
		}

		.tel {
			float: left;
			margin-bottom: 0;
		}

		.copy {
			width: auto;
			float: right;
		}

	}

	@media (min-width: $screen-lg-min) {


		.tel {
			font-size: 32px;
			padding-top: 5px;
			line-height: 40px;
		}

		.copy {
			padding-top: 10px;
			font-size: 24px;
			line-height: 30px;
		}
	}
}