.header {
	color: #fff;
	padding-top: 45px;
	padding-bottom: 120px;
	background: url("../img/header__bg.jpg") 50% 0 no-repeat;
	background-size: cover;


	.logo {
		width: 170px;
		margin: 0 auto 18px auto;
	}

	h1 {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 30px;
	}

	.slogan {
		max-width: 1010px;
		margin: 0 auto 60px auto;
	}

	.brandname {
		margin: 0 auto;
		max-width: 364px;
	}

	@media (min-width: $screen-sm-min) {
		height: 743px;
		background-size: auto auto;

		h1 {
			font-size: 30px;
			margin-bottom: 40px;

			span {
				display: block;
			}
		}

		.slogan {
			font-size: 50px;
		}

	}

	@media (min-width: $screen-md-min) {

		h1 {
			font-size: 34px;
			margin-bottom: 35px;
		}

		.slogan {
			font-size: 60px;
		}


		.brandname {
			font-size: 50px;
		}
	}

	@media (min-width: $screen-lg-min) {

		h1 {
			font-size: 36px;
			margin-bottom: 15px;

		}

		.slogan {
			font-size: 82px;
			margin-bottom: 80px;
		}
	}
}

