.btn {
	margin:0;
	color: #000;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 10px 15px;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 3px dashed #ad4f8c;

	&:hover {
		color: #fff;
		background: #ad4f8c;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}


.btn-md {

	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	padding: 15px 15px;

	@media (min-width: $screen-lg-min) {
		font-size: 50px;
		line-height: 50px;
		padding: 22px 37px;
	}
}

.btn-white {
	color: #fff;

	&:hover {
		color: #fff;
	}
}
