.form-control {
	margin: 0;
	width: 100%;
	color: #000;
	outline: none;
	font-size: 18px;
	line-height: 20px;
	padding: 12px 15px;
	display: inline-block;
	background: transparent;
	border: 2px solid #ad4f8c;
	@include placeholder(#000);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}